/* RIGHT SIDEBAR */

.course-options {
  margin-bottom: 25px;
}

/* COURSES */

#my-courses-create-site {
  margin-top: 5px;
}

#my_courses_table {
  margin-top: 25px;
}

/* CREATE A SITE */

#start_new_course {
  display: none !important;
}

/* ALTERNATIVE MEDIA PANEL */

#alt-media-container.alert {
  color: #3B7EA1;
  font-size: 14px;
  margin-bottom: -5px;
  margin-top: 15px;
}

#alt-media-container #alt-media-content {
  margin-left: 20px;
  margin-top: 10px;
}

/* ADD PEOPLE */

form#ui-id-2[data-view='createUsers'] {
  height: 420px !important;
}

#calnet-directory-link {
  position: relative;
  right: 3px;
  top: 12px;
}

#add-people-help {
  color: #3b7ea1;
  left: -5px;
  position: relative;
  top: 3px;
}

#add-people-error-guests {
  margin-top: 10px;
}

#add-people-error-guests strong,
#add-people-error-guests a {
  font-weight: 500;
}

/* FOOTER */

#footer .footer-logo {
  background-size: 100% auto;
  height: 35px;
  width: 110px;
}

/* HELP */

/* Hide unneccesary Help links */
#help-dialog #help-dialog-options li a[href="#teacher_feedback"],
#help-dialog #help-dialog-options li a[href="#create_ticket"],
#help-dialog #help-dialog-options li a[href="https://community.canvaslms.com/community/answers"] {
  display:none;
}
